body, html{
    height: 100%;
    width: 100%;
}


#dialog-overlay1{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#contenedor-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #4b0000; 
    width: 30%;
    height: 40%;   
    background: linear-gradient(to bottom, #3E0D0D 40%, #4A0D0D 60%,#6A1F1F 80%,#8C1E1E 92%,#B71C1C 96%,#C62828 98%,#D32F2F 99.2%,#E57373 99.5%,white 99.6%,#E57373 99.7%,white 99.8%, #D32F2F 99.9%,#B71C1C 100%);
    border-radius:20px;

}
#username, #email, #password, #confirm-pass{
    font-size:1.5vw;
    font-family:'Courier New', Courier, monospace;
    padding:1%;
    border:none;
    width:80%;
    text-align: left;
    box-shadow: inset 0 6px 8px #00000033;
   
}
.username, .email, .password, .confirm-pass{
    font-size: 1.2vw;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 2%;
    text-align: left;
    width: 80%;
    color:#ffd700;
}
#submit{
    
    position: relative;
    width: 100%;
    height: 100%;
    border:none;
    font-size: 1.5vw;    
    padding:2%;
    border-radius:10px;
    color:#4b0000;
    background: linear-gradient(to bottom, #ffd700, white);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 120, 215, 0.5); 
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s, box-shadow 0.3s;
    font-weight: bold;
   
}
#a-button{
    margin-bottom: 3%;  
    padding:1%;
    width: 25%;
    height: 10%;
}
h2{
    font-size: 1.5vw;
    font-family:'Courier New', Courier, monospace;
    margin-top:none;
    color:#ffd700;
}
#olvidaste{
    font-size: 1vw;
    color: #ffd700;
    text-decoration: none;


}

