*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width:100%;
    height:100%;
}


#registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    max-width: 100%;
   aspect-ratio: 1/1;  
    background: linear-gradient(to bottom, #3E0D0D 40%, #4A0D0D 60%,#6A1F1F 80%,#8C1E1E 92%,#B71C1C 96%,#C62828 98%,#D32F2F 99.2%,#E57373 99.5%,white 99.6%,#E57373 99.7%,white 99.8%, #D32F2F 99.9%,#B71C1C 100%);
    width:75%;
    border-radius:5px;
    overflow: auto;
}

.form-container{
display:flex;
flex-direction:column;
justify-content: flex-start;
align-items: center;
text-align:left;
height: 100%;  
margin-top: 5%;
}

#username, #email, #password, #confirm-pass{
    font-size:1.5vw;
    font-family:'Courier New', Courier, monospace;
    padding:1%;
    border:none;
    width:80%;
    text-align: left;
    box-shadow: inset 0 6px 8px #00000033;
   
}
.username, .email, .password, .confirm-pass{
    font-size: 1.2vw;
    font-family:'Courier New', Courier, monospace;
    margin-bottom: 1vw;
    text-align: left;
    width: 80%;
    height: auto;
    color:#ffd700;
}

#submit{
    display:flex;
    position: relative;
    justify-content: center;   
    align-items: center;
    height:auto;
    width: 60%;
    border:none;
    font-size:1.7vw;   
    text-align: center;
    
   
    padding-top: none;
    border-radius:3px;
    color:#4b0000;
    background: linear-gradient(to bottom, #ffd700, white);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 120, 215, 0.5); 
    cursor: pointer;
    
    transition: background 0.3s, box-shadow 0.3s;
    font-weight: bold;
   
}
#a-button{
    display: flex;
   justify-content: center;
    margin-bottom: 3%;  
    padding:1%;    
    height: 5vw;
    width: 100%;
    text-decoration: none;
}

h2{
    font-size: 1.5vw;
    font-family:'Courier New', Courier, monospace;
    margin-top:none;
    color:#ffd700;
    width: 100%;
    text-align: center;
}

#perfil{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 80%;   
    background-color: white;
    margin-top:3%;
    padding:1%;
    border-radius: 2px;
    box-shadow: inset 0 6px 8px #00000033;

}
.elige-p{
    margin-bottom: 2%;
    width: 80%;
    font-size: 1.2vw;
    font-family: 'Courier New', Courier, monospace;
    color:#ffd700;
}

.label-radio{
    font-size: 1.5vw;    
    color:#6c757d;
    opacity: 0.6; 
    font-family: 'Courier New', Courier, monospace;
}




.radio2{
    margin-right: 5%;
}
#cerrar{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content:flex-end;
    align-items:flex-end;
    width: 100%;
    background-color: aqua;
}
.close-dialog{
    position: absolute;
    right: 2%;
    top:2%;
    aspect-ratio: 1/1;
    background-color: #ffd700;
    padding:1%;
    color:#3E0D0D;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    border-radius: 2px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 0 0 5px rgba(0, 120, 215, 0.5); 
    cursor: pointer;
    
    transition: background 0.3s, box-shadow 0.3s;
}
#dialog-overlay{
    display: none;
}
input[type="radio"] {
    /* Tamaño del radio button */
    width: 1vw;
    height: 1vw;
    /* Color del borde y fondo */
    border: 2px solid #4b0000;
    border-radius: 50%;
    accent-color: #ffd700;; /* Cambia el color del círculo en algunos navegadores */
    cursor: pointer;
}
